body{    
    background: #FFF;
    width: 1920px;
    height: 3500px;
    margin: 0 auto;
}

header{
    font-style: Segoe UI;
    font-weight:600;
    
    background-color: #c4170c;
    margin-bottom: 45px;
    
}

.divheader-1{
    width: 1920px;
    height: 123px;
    display: block;
    border-bottom: solid transparent;
}

.img-barras{
    
    float: left; 
    margin: 39px 9px 0 102px;

}

.img-g1{
    display: inline-block;
    float: left;
    margin-top: 30.14px;   
}   

.texto-h2a{
    font-size: 25px;
    font-weight: 550;
    color: white;
    text-transform: uppercase;
    float: left;
    display: inline-block;
    font-family:'Segoe UI';
    margin-top: 44px;
    margin-right: 679.12px;

}

.divheader-2{
    width: 326px;
    height: 46px;
    border: 1px solid #707070;
    background-color: #8B0000;
    border-radius: 5px;
    float: right;
    margin-top: 39px;
    margin-right: 94px;  
}

.divheader-2 img{
    display: block;
    padding-top: 5px;
    padding-left: 14.72px;
    float: left;
}

.texto-h2b{
    color: white;
    font-size: 25px;
    font-weight:600;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    display: inline-block;
    margin: 5px 175px 0 0;
    float: right;
}

/* Section */

.section-h1{
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    font-weight:700;
    font-family: 'Segoe UI';
    letter-spacing: 0;
    display: inline-block;
    margin: 0 0 47px 688px;
}

.divsection1-a{ 
    width: 794px;
    height: 836px;
    border: 1px solid #707070;
    margin: 0 0 0 102px;
    float: left;
    overflow: auto;
}

.texto-h2c{
    width: 530px;
    display: inline-block;
    font-size: 40px;
    font-family: 'Segoe UI';
    font-weight: 600;
    text-align: left;
    color: #8B0000;
    margin: 306px 0 0 32px;
}

.section-p1{
    text-align: left;
    font-size: 25px;
    font-family: 'Segoe Ui';
    color: #8B0000;
    font-weight: 600;
    display: block;
    margin: 0 0 0 32px;
}

.divsection1-b{ 
    width: 834px;
    height: 320px;
    border: 1px solid #707070;
    background-image: url(../img/homem-janela-caminhao.png);
    float: right;
    margin: 0 94px 5px 0;
}

.section-p2{
    width: 804px;
    height: 33px;
    font-size: 25px;
    font-family: 'Segoe Ui';
    font-weight: 600;
    display: block;
    float: right;
    margin: 7px 124px 110px 0;

}

.divsection1-c{ 
    width: 834px;
    height: 320px;
    border: 1px solid #707070;background-image: url(../img/lady.png);
    float: right;
    margin: 0 95px 0 0;
}

.section-p3{

    text-align: left;
    font-size: 25px;
    font-family: 'Segoe Ui';
    font-weight: 600;
    display: block;
    float: right;
    margin: 13px 188px 144px 0;
}


.divsection2-a{
    width: 794px;
    height: 393px;
    border: 1px solid #707070;
    margin: 150px 52px 91.5px 102px;
    background-image: url(../img/notas.png);
    float:left

}
.divsection2-b{
    width: 794px;
    height: 393px;
    border: 1px solid transparent;
    float: left;
    box-sizing: border-box;
  
}
.sec-2pa{
    font-size: 25px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
    margin:  0 0 0 0 ;
    display:inline-block;
    border: 1px solid transparent;
}

.sec-2pb{
    text-align: left;
    font-size: 35px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #C4170C;
    display: block;
    border: 1px solid transparent;
    margin: 0 0 33px;   
}

.sec-2pc{

    font-size: 27px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
    float: left;
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.sec-2pd{
    font-size: 27px;
    font-family: 'Segoe UI';
    font-weight: normal;
    color: #746565;
    float: left;
    display: inline-block;
    border: 1px solid transparent;

}

hr{
    width: 1714px;
    display: block;
    margin: 102.5px 102.5px 68.5px 102px;
    clear: both;
}



.divsection3-a{
    width: 794px;
    height: 393px;
    border: 1px solid #707070;
    margin: 0 52px 91.5px 102px;
    background-image: url(../img/notas.png);
    float:left

}
.divsection3-b{
    width: 794px;
    height: 393px;
    border: 1px solid transparent;
    float: left;

  
}

.sec-3pa{
    text-align: left top;
    font-size: 25px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
    display: inline-block;
    border: 1px solid transparent;
    margin: 0;
}

.sec-3pb{
    text-align: left;
    font-size: 35px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #C4170C;
    display: block;
    border: 1px solid transparent;
    margin: 0 0 33px 0;
}

.sec-3pc{

    font-size: 27px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
    display: inline-block;
    border: 1px solid transparent;
    margin: 0 0 10px 0;

}

.sec-3pd{
    font-size: 27px;
    font-family: 'Segoe UI';
    font-weight: normal;
    color: #746565;

    display: inline-block;
    border: 1px solid transparent;
}

.divsection4-a{
    width: 794px;
    height: 393px;
    border: 1px solid #707070;
    margin: 0 52px 91.5px 102px;
    background-image: url(../img/notas.png);
    float:left
}
.divsection4-b{
    width: 794px;
    height: 393px;
    border: 1px solid transparent;
    float: left;  
}

.sec-4pa{
    text-align: left top;
    font-size: 25px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
    display: inline-block;
    border: 1px solid transparent;
    margin: 0;
}

.sec-4pb{
    text-align: left;
    font-size: 35px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #C4170C;
    display: block;
    border: 1px solid transparent;
    margin: 0 0 33px 0;
 

}


.sec-4pc{

    font-size: 27px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
    display: inline-block;
    border: 1px solid transparent;
    margin: 0 0 10px 0;

}

.sec-4pd{
    font-size: 27px;
    font-family: 'Segoe UI';
    font-weight: normal;
    color: #746565;

    display: inline-block;
    border: 1px solid transparent;
}


.hr-final{
    width: 1714px;
    display: block;
    margin: 102.5px 179.5px 179.5px 102px;

}

.div-veja{
    width: 389px;
    height: 89px;
    background-color: #C4170C;
    border: 1px solid #707070;
    border-radius: 3px;
    display: block;
    margin: 0 765px 185.72px 765px;

}

.veja-p{
    font-size: 25px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin: 28px 0 0 133px;
    display: inline-block;

}

footer{
    width: 1920px;
    height: 197.28px;
    background-color: #C4170C;
    border: 1px solid #707070;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.g1-footer{
    border: 1px solid transparent;
    margin: 40.43px 36px 24px 102.12px;
    display: inline;
    

    
}

.a1-footer{

    color: white;
    font-size: 30px;
    font-family: 'Segoe UI';
    text-transform: lowercase;
    border: 0px solid black;
    display: inline;
    margin: 55.28px 0 0 0;

}

.a2-footer{
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI';
    border: 0px solid black;
    display: inline-block;
    margin: 0 268px 0 102.12px;

}
footer p{
    color:white;
    font-size: 25px;
    font-family: 'Segoe UI';
    border: 0px solid black;
    display: inline-block;
    padding-right: 40px;
    margin-right: 8px;
    
    

}